.navbar{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;

    @include respond-to('laptop'){
        justify-content: flex-start;    
    }

    width: 100%;
    background: white;

    position: fixed;
    top:0px;
    padding: 8px;
    border-bottom: 2px solid #E50914;

    z-index: 10;

    .logo{
        padding: 0 8px;
        &--text{
            color: #E50914;
           
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
        }
    }
}

.link{
    text-decoration: none;
}