.navbar{
    background: red;

    @include respond-to('sm-mobile') {
        background: blue;
    }

    @include respond-to('mobile') {
        background: green;
    }

    @include respond-to('tablet') {
        background: black;
    }

    @include respond-to('laptop'){
        background: yellow;
    }

    @include respond-to('desktop'){
        background: yellowgreen;
    }
}