body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: 'IBM Plex Sans Arabic', sans-serif;
    background: rgb(255, 255, 255);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container{
    padding-top: 52px;
    padding-bottom: 450px;
    // background: rgb(0, 0, 0);
    min-height: 100vh;
    .footer{
    
    
        min-height: 450px;
        min-width: 100vw;

        position: fixed;
        bottom: 0px;

    }
}
  
.section{
    min-height: 50vh;
    margin-bottom: 16px;

    &__heading{
        margin: 16px 16px 0 16px;
        color: rgb(0, 119, 255);
        font-size: 16px;
        font-weight: 700;
        z-index:1;

        border: 1px solid rgb(0, 119, 255);
        border-radius: 4px;
        padding: 8px 24px;
    }
}

.wrap{
    z-index: 1;
    &--movie{
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    &--poster{
        display: flex;
        flex-direction: column;
    }

    &--posters{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        column-gap: 16px;
        row-gap: 16px;

        padding: 16px;
    }
}

.link{
    text-decoration: none;
}