body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  background: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  padding-top: 52px;
  padding-bottom: 450px;
  min-height: 100vh;
}

.container .footer {
  min-height: 450px;
  min-width: 100vw;
  position: fixed;
  bottom: 0px;
}

.section {
  min-height: 50vh;
  margin-bottom: 16px;
}

.section__heading {
  margin: 16px 16px 0 16px;
  color: #0077ff;
  font-size: 16px;
  font-weight: 700;
  z-index: 1;
  border: 1px solid #0077ff;
  border-radius: 4px;
  padding: 8px 24px;
}

.wrap {
  z-index: 1;
}

.wrap--movie {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap--poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap--posters {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  -webkit-column-gap: 16px;
          column-gap: 16px;
  row-gap: 16px;
  padding: 16px;
}

.link {
  text-decoration: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 100%;
  background: white;
  position: fixed;
  top: 0px;
  border-bottom: 2px solid #c2970a;
  z-index: 10;
}

@media (min-width: 980px) {
  .navbar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.navbar .nav-menu {
  padding: 0px 8px;
}

.navbar .nav-menu .logo {
  padding: 8px;
}

.navbar .nav-menu .logo--text {
  color: #e02424;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.navbar .nav-menu__item {
  border-radius: 4px;
  background: #ffbd06;
  padding: 8px 32px;
  color: white;
  font-weight: 700;
  white-space: nowrap;
  position: fixed;
  right: 16px;
  bottom: 16px;
  -webkit-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.199);
          box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.199);
}

.link {
  text-decoration: none;
}

.list--genre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #E50914;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list--genre::-webkit-scrollbar {
  display: none;
}

.genre {
  padding: 16px 16px 12px 16px;
  margin-right: 8px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
  border-bottom: 4px solid #e6491900;
}

.genre:hover {
  border-bottom: 4px solid #9b2f0e;
  background: #E64A19;
  cursor: pointer;
}

.info--movie {
  min-height: calc(100vh - 100px);
  background-color: rgba(0, 0, 0, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info--movie .movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info--movie .movie__info {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.info--movie .movie__info__basic .name {
  font-size: 32px;
  line-height: 32px;
  color: white;
  letter-spacing: 1.5px;
}

.info--movie .movie__info__basic .tagline {
  color: red;
  letter-spacing: 1.75px;
}

.info--movie .movie__info__basic .imdb-raitng {
  margin: 16px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info--movie .movie__info__basic .imdb-raitng .tag {
  color: gold;
  margin-right: 16px;
}

.info--movie .movie__info__basic .imdb-raitng .vaue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-weight: 500;
  height: 32px;
  width: 32px;
  border-radius: 48px;
  background-color: gold;
}

.info--movie .movie__info__overview {
  color: white;
  font-size: 18px;
  letter-spacing: 1.25px;
  line-height: 26px;
}

.info--movie .movie__poster {
  padding: 16px;
}

.card {
  border-radius: 8px;
}

.card__body {
  border-radius: 8px;
}

.card__body img {
  border-radius: 8px 8px 0px 0px;
  max-width: 100%;
}

.button__body {
  font-size: 24px;
  color: white;
  font-weight: 500;
}

.button--wish {
  padding: 8px 16px;
  background: black;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -20px;
  border-radius: 0px 0px 8px 8px;
}

.button--wish div {
  font-size: 16px;
  color: #c2970a;
}
/*# sourceMappingURL=index.css.map */